<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Psiquiatria</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span><i class="fa fa-home fa-lg"></i></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-home fa-lg"></i>Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mision"><i class="fa fa-flag" aria-hidden="true"></i>Mision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vision"><i class="fa fa-eye" aria-hidden="true"></i>Vision</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-money fa-lg"></i>Donaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.google.com/maps/place//@3.7231674,-76.2676046,676m/data=!3m1!1e3!4m8!1m7!3m6!1s0x8e39f0aed5b39263:0x526cb70db9fc203d!2sCra.+6+%239-3,+Ginebra,+Valle+del+Cauca!3b1!8m2!3d3.7231433!4d-76.2654139" target="_blank"><i class="fa fa-map-marker fa-lg"></i>Ubicacion</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-list-alt fa-lg"></i>Servicio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/fisica"><i class="fa fa-child" aria-hidden="true"></i>Terapias físicas</a>
                        <a class="dropdown-item" href="/ocupacional"><i class="fa fa-paint-brush" aria-hidden="true"></i>Terapia ocupacional</a>
                        <a class="dropdown-item" href="/familiar"><i class="fa fa-users" aria-hidden="true"></i>Terapias psicológicas al núcleo familiar</a>
                        <a class="dropdown-item" href="/capacitacion"><i class="fa fa-book fa-lg"></i>Capacitación y talleres</a>
                        <a class="dropdown-item" href="/fonologia"><i class="fa fa-volume-up" aria-hidden="true"></i>Fonoaudiologia</a>
                        <a class="dropdown-item" href="/pedagogia"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Pedagogía</a>
                        <a class="dropdown-item" href="/psiquiatria"><i class="fa fa-user-md" aria-hidden="true"></i>Psiquiatría</a>
                        <a class="dropdown-item" href="/enfermeria"><i class="fa fa-medkit" aria-hidden="true"></i>Enfermería</a>
                        <a class="dropdown-item" href="/internado"><i class="fa fa-home" aria-hidden="true"></i>Internado</a>
                        <a class="dropdown-item" href="/semiinternado"><i class="fa fa-h-square" aria-hidden="true"></i>Semiinternado</a>
                        <a class="dropdown-item" href="/deporte"><i class="fa fa-futbol-o" aria-hidden="true"></i>Deporte</a>
                        <a class="dropdown-item" href="/psicologia"><i class="fa fa-user-md" aria-hidden="true"></i>Psicologia</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/informes"><i class="fa fa-file-text-o" aria-hidden="true"></i>Informes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-book" aria-hidden="true"></i>Contactenos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://www.facebook.com/funrefa?fref=search&__tn__=%2Cd%2CP-R&eid=ARAouEuXsCI_zXDOz0Xj5drWzqWMXL3o32hE-rkKJPpqH6ve_YcQPOScg0CrYxRosPD1qcbYKqIt5mqn" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a>
                        <a class="dropdown-item" href="/fonologia"><i class="fa fa-whatsapp" aria-hidden="true"></i>(+57) 315-651-2869</a>
                        <a class="dropdown-item" href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
                        <a class="dropdown-item" href="https://www.instagram.com/carlos_mario_cruz_rosero/?hl=es-la" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
                        <a class="dropdown-item" href="/psicologia"><i class="fa fa-mobile" aria-hidden="true"></i>315-651-2869</a>
                        <a class="dropdown-item" href="/psicologia"><i class="fa fa-phone-square" aria-hidden="true"></i>315-651-2869</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="content-all">
            <article>
                <div class="imagen">
                    <img src="{{logo}}" alt="">
                </div>
                <h1>{{titulo}}</h1>
                <p class="parrafo">{{parrafo}}</p>
                <img src="{{imagen}}">
                <p class="parrafo2">{{parrafo2}}</p>
            </article>
        </div>
    </main>

</body>

</html>